#faq {
    height: 100%;
}
#faq .inner {
    margin: 80px auto;
    max-width: 1000px;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
#faq .text-box {
    padding: 0 8px;
}
#faq .text-box h1 {
    font-size: 2.2rem;
    font-weight: 500;
}
#faq .text-box p {
    color: #737373;
}
#faq .wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#faq .question-box:hover {
    background-color: #eee;
}
#faq .question-box input[type="checkbox"] {
    display: none;
}
#faq .question-box {
    display: grid;
    grid-template-columns: 3em 1fr;
    gap: 15px;
    padding: 8px;
    border-radius: 5px;
    transition: background-color .2s;
    cursor: pointer;
}
#faq .question-box .icon {
    border: 1px solid var(--light_green);
    width: 3em;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: var(--light_green);
}
#faq .question-box .icon i {
    font-size: 1.25em;
}
#faq .question-box .question-inner {
    display: grid;
    grid-template-rows: 3rem 0fr;
    transition: grid-template-rows 0.2s;
    overflow: hidden;
}
#faq .question-box:has(input:checked) .question-inner {
    grid-template-rows: 3rem 1fr;
}
#faq .question-box .question-inner .title {
    font-weight: 800;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 0.7rem;
}
#faq .question-box .question-inner .title p {
    font-size: 1.4rem;
}
#faq .question-box:has(input:checked) .title i {
    transform: rotateZ(180deg);
}
#faq .question-box .question-inner .title i {
    height: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-origin: center center;
    transition: .2s;
}
#faq .question-box .question-inner .answer {
  min-height: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #737373;
}
#faq .answer span.underline {
    text-decoration: 1px underline var(--light_green);
}
#faq .answer span.bold {
    color: var(--light_green);
    font-weight: 600;
}

@media screen and (max-width: 600px) {
    #faq .question-box .question-inner .title p {
        font-size: 1rem;
    }
}