#footer {
    background: var(--green);
    display: grid;
    grid-template-columns: 1fr 50px 1fr;
    grid-template-areas: "links logo copyright";
    padding: 80px 200px;
    gap: 25px;
    margin: auto 0 0 0;
}

#footer .links {
    grid-area: links;
    display: flex;
    align-items: center;
}
#footer .links ul {
    display: flex;
    gap: 35px;
}
#footer .links ul li {
    list-style-type: none;
}
#footer .links ul li a {
    color: var(--white);
    text-decoration: none;
    letter-spacing: 1px;
}
#footer .logo {
    grid-area: logo;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
}
#footer .logo img {
    width: 50px;
    height: 50px;
}
#footer .copyright {
    grid-area: copyright;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: var(--white);
    letter-spacing: 1px;
}

@media screen and (max-width: 1300px) {
    #footer {
        grid-template-columns: 1fr;
        grid-template-rows: 50px 1fr auto;
        grid-template-areas: "logo" "links" "copyright";
        padding: 50px 50px;
        gap: 45px;
    }
    #footer .logo {
        height: 50px;
        width: 50px;
        margin: 0 auto;
    }
    #footer .links {
        justify-content: center;
    }
    #footer .copyright {
        justify-content: center;
    }
}

@media screen and (max-width: 480px) {
    #footer .links {
        justify-content: center;
    }
    #footer .links ul {
        flex-direction: column;
        gap: 15px;
    }
}