nav {
    background-color: var(--green);
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white);
    padding: 15px 25px;
}
nav img {
    height: 40px;
    width: 40px;
}
nav ul {
    display: flex;
    gap: 15px;
}
nav ul li {
    display: flex;
    gap: 5px;
    cursor: pointer;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}

@media screen and (max-width: 400px) {
    nav h2 {
        font-size: 1rem;
    }
}